/* --- FUENTES --- */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* --- GENERAL --- */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; }

body {
  background-color: #000; }

/* --- HEADER --- */
header {
  display: flex; }

nav {
  width: 100%;
  height: 80px;
  background-color: #0b132b; }
  nav ul {
    float: right;
    z-index: 1000; }
    nav ul li {
      display: inline-block;
      line-height: 80px;
      margin: 0 15px;
      transition: .5s linear; }
      nav ul li:hover {
        transform: scale(1.5); }
      nav ul li a {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        transition: .5s linear;
        padding: 12px 20px; }
        nav ul li a:hover {
          color: #00c9bd;
          transform: scale(1.5); }

.logo {
  color: #fff;
  font-size: 35px;
  line-height: 80px;
  padding-left: 100px;
  font-weight: bold;
  text-decoration: none; }
  .logo:hover {
    color: #00c9bd;
    transition: .3s linear;
    transform: scale(1.1); }
  .logo a:hover {
    transform: scale(1.1); }

.botoncheck {
  color: #fff;
  font-size: 35px;
  float: right;
  line-height: 80px;
  cursor: pointer;
  margin-right: 40px;
  display: none; }

#check {
  display: none; }

@media (max-width: 965px) {
  .logo {
    padding-left: 20px; }
  .botoncheck {
    display: block;
    margin-right: 10px; }
  ul {
    position: absolute;
    background: #2c3e50;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1000; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
    nav ul li a {
      font-size: 20px; }
  #check:checked ~ ul {
    left: 0; } }

/* --- FOOTER ---*/
footer {
  width: 100%;
  color: #fff;
  background-color: #000; }

.contenedor-central {
  display: flex;
  background-color: #000; }
  .contenedor-central .caja {
    flex-basis: 50%;
    padding: 10px 20px; }

.caja .referencias {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }

.caja .contenedor-1 {
  margin: 20px 0 0 0; }

.izquierda .contenedor-1 p {
  text-align: justify; }

.izquierda .contenedor-1 .social {
  margin: 20px 0 0 0; }
  .izquierda .contenedor-1 .social a {
    padding: 0 2px;
    color: #fff; }
    .izquierda .contenedor-1 .social a span {
      height: 40px;
      width: 40px;
      background: #1a1a1a;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      border-radius: 5px;
      transition: .3s; }
      .izquierda .contenedor-1 .social a span:hover {
        background: #00c9bd; }

.central .contenedor-1 .fas {
  font-size: 23px;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: .3s; }
  .central .contenedor-1 .fas:hover {
    background: #00c9bd; }

.central .contenedor-1 .texto {
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px; }

.central .contenedor-1 .telefono {
  margin: 10px 0; }

.derecha form .texto {
  font-size: 17px;
  margin-bottom: 3px;
  color: #656565; }

.derecha form .mensaje {
  margin-top: 12px; }

.derecha form input {
  width: 100%;
  font-size: 17px;
  background: #151515;
  padding-left: 12px;
  border: 1px solid #00c9bd;
  color: #fff;
  height: 35px; }
  .derecha form input:focus {
    outline-color: #00c9bd; }

.derecha form textarea {
  width: 100%;
  font-size: 17px;
  background: #151515;
  padding-left: 12px;
  border: 1px solid #00c9bd;
  color: #fff; }
  .derecha form textarea:focus {
    outline-color: #00c9bd; }

.derecha form .boton {
  margin-top: 12px; }
  .derecha form .boton button {
    height: 40px;
    width: 100%;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    background: #000;
    color: #fff;
    transition: 1.5s;
    border: 1px solid #00c9bd; }
    .derecha form .boton button:hover {
      background: #00c9bd;
      color: #fff; }

.autor {
  display: block;
  text-align: center; }
  .autor span a {
    text-decoration: none;
    color: #00c9bd; }

@media (max-width: 965px) {
  .contenedor-central {
    display: block; }
  .caja h2 {
    margin-top: 10px;
    text-align: center; }
  .social {
    text-align: center; }
    .social a {
      margin-right: 25px;
      text-align: center; } }

@media (max-width: 335px) {
  .social a {
    margin-right: 5px;
    text-align: center; }
  .central .contenedor-1 .texto {
    font-size: 13px; }
  .autor span {
    font-size: .75rem; } }

/* --- INDEX --- */
.main-1 {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #000; }

.seccion-1 {
  display: block;
  width: 100%;
  background-color: #000; }

.d-item {
  height: 680px; }

.d-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9); }

.title-1 {
  color: #ffd342;
  text-shadow: 1px 3px #c21212; }

.title-2 {
  color: #000;
  text-shadow: 1px 3px #fff; }

.title-3 {
  text-shadow: 1px 3px #ffd342; }

.title-4 {
  color: #fff;
  text-shadow: 1px 3px #000; }

.btn {
  margin-top: 380px;
  background: #00c9bd; }
  .btn:hover {
    background: #2c3e50;
    color: #fff;
    border: 3px solid #00c9bd; }

.seccion-2 {
  display: block;
  width: 100%;
  background-color: #000; }

.izquierda-1 {
  background-color: #0b132b; }
  .izquierda-1 h1 {
    color: #00c9bd; }
  .izquierda-1 h2 {
    color: #fff; }
    .izquierda-1 h2 span {
      color: #00c9bd; }

.lista-s2 ol li {
  background: #000;
  color: #fff;
  border: 2px solid #00c9bd; }

.derecha-1 {
  background: #0b132b; }
  .derecha-1 h3 {
    color: #fff; }
  .derecha-1 h4 {
    color: #fff; }
  .derecha-1 img {
    border: 5px solid #00c9bd;
    border-radius: 15px; }

.btn-1 {
  margin-top: 50px;
  margin-left: 10px; }

/* --- ACTIVAR TARJETA --- */
.main-2 {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1.5em;
  background-color: #000; }
  .main-2 h1 {
    max-width: 1100px;
    color: #00c9bd;
    font-size: 3rem;
    margin: auto;
    padding-bottom: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #000;
    text-align: center; }
  .main-2 p {
    color: #fff;
    max-width: 1100px;
    text-align: justify;
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: 30px; }
    .main-2 p span {
      font-weight: bolder;
      color: #00c9bd;
      text-transform: uppercase;
      font-size: 1.7rem; }
    .main-2 p a {
      color: #00c9bd;
      text-decoration: none;
      font-style: italic;
      font-weight: bold;
      font-size: 1.7rem; }

.seccion-formulario {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #3a506b;
  background: linear-gradient(-45deg, #3a506b, #6492bd, #010103);
  box-shadow: 0 0 50px 0 rgba(0, 201, 189, 0.3); }
  .seccion-formulario h2 {
    color: #fff; }
  .seccion-formulario .google-boton span {
    color: #fff; }

.botones {
  margin: auto;
  align-self: flex-start;
  display: flex;
  gap: 20px; }

.google-boton {
  display: flex;
  background-color: #00c9bd;
  border: none;
  border-radius: 5px;
  height: 40px;
  align-items: center;
  padding: 2px;
  cursor: pointer; }
  .google-boton:hover {
    background: #2c3e50;
    color: #fff;
    border: 3px solid #00c9bd; }
  .google-boton picture {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .google-boton picture img {
      width: 75%; }
  .google-boton span {
    color: #fff;
    padding: 15px;
    font-weight: 500; }

.boton-twitter {
  display: flex;
  border: none;
  border-radius: 5px;
  height: 40px;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  background-color: #00c9bd;
  color: #fff; }
  .boton-twitter:hover {
    background: #2c3e50;
    color: #fff;
    border: 3px solid #00c9bd; }
  .boton-twitter picture {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center; }
    .boton-twitter picture img {
      width: 100%;
      height: 100%;
      border-radius: 10px; }
  .boton-twitter span {
    padding: 15px;
    font-weight: 500;
    color: #fff; }

.separador {
  display: flex;
  width: 100%;
  gap: 15px; }
  .separador hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #00c9bd; }
  .separador span {
    color: #fff; }

.form-2 {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.seccion-input {
  display: flex;
  gap: 25px;
  width: 100%;
  margin-bottom: 15px; }

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px; }
  label span {
    font-weight: 700;
    color: #fff; }
  label input {
    background-color: #212121;
    color: #fff;
    border: 1px solid #00c9bd;
    padding: 15px 20px;
    border-radius: 15px;
    outline: none;
    font-size: 14pt;
    transition: 0.2s; }
    label input:hover {
      background-color: #454045;
      border: solid 2px #00c9bd;
      box-shadow: 0 0 5px #00c9bd; }
    label input:focus {
      background-color: #fff;
      border: solid 2px #f3f3f4;
      box-shadow: 0 0 20px 0 rgba(0, 201, 189, 0.3);
      color: #000; }

.checkbox-label {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px; }
  .checkbox-label input[type="checkbox"] {
    width: 25px; }
  .checkbox-label span {
    font-weight: 400; }

.submit-boton {
  color: #fff;
  background-color: #00c9bd;
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  font-size: 15pt;
  cursor: pointer; }
  .submit-boton:hover {
    background: #2c3e50;
    color: #fff;
    border: 3px solid #00c9bd; }

@media (max-width: 965px) {
  .main-2 h1 {
    font-size: 2rem; }
  .seccion-formulario h2 {
    color: #fff;
    font-size: 1.5rem; }
  .google-boton {
    height: 60px; }
  .boton-twitter {
    height: 60px; } }

@media (max-width: 620px) {
  .main-2 h1 {
    font-size: 1.7rem; }
  .main-2 p {
    text-align: center;
    font-size: 1rem; }
    .main-2 p span {
      font-size: 1rem; }
    .main-2 p a {
      font-size: 1rem; }
  .botones {
    display: block; }
  .google-boton {
    margin: 10px; }
  .boton-twitter {
    margin: 10px; }
  .seccion-formulario h2 {
    text-align: center; }
  .seccion-input {
    display: block;
    width: 100%;
    margin-bottom: 0; }
  form {
    margin: 5px;
    width: 90%; } }

@media (max-width: 325px) {
  .seccion-formulario h2 {
    text-align: center; }
  form {
    width: 100%;
    margin: 5px; } }

/* ---PROMOCIONES ---*/
.main-3 {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1.5em;
  background: radial-gradient(circle, black 85%, #00c9bd 100%); }

.seccion-promocion-1 {
  display: flex; }
  .seccion-promocion-1 h1 {
    color: #00c9bd;
    font-size: 3rem;
    margin: auto;
    font-weight: 900;
    text-transform: uppercase;
    width: 50%;
    text-align: center; }
  .seccion-promocion-1 p {
    color: #fff;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 30px;
    display: block;
    justify-content: center;
    width: 50%; }
    .seccion-promocion-1 p span {
      font-weight: bolder;
      color: #00c9bd;
      text-transform: uppercase;
      font-size: 1.7rem; }
    .seccion-promocion-1 p a {
      color: #00c9bd;
      text-decoration: none;
      font-style: italic;
      font-weight: bold;
      font-size: 1.7rem; }

.seccion-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .seccion-grid > div {
    background-size: cover;
    padding: 1, 5rem; }

.grid-promocion {
  background-position: center;
  padding: 1.5rem;
  border: 3px solid #00c9bd; }
  .grid-promocion h2 {
    font-size: 2.5rem;
    color: #d99a07;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 3px 2px #2c3e50; }
  .grid-promocion h3 {
    font-size: 1.7rem;
    color: #000;
    font-weight: 600;
    text-shadow: 2px 2px #fff; }

.grid-promocion1 {
  position: relative;
  background-image: url("../img/cancun-mexico.jpg");
  height: 15rem; }
  .grid-promocion1::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2); }

.grid-promocion2 {
  position: relative;
  background-image: url("../img/auto-0km.jpg");
  height: 15rem; }
  .grid-promocion2::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2); }

.grid-promocion3 {
  position: relative;
  background-image: url("../img/cataratas.jpg");
  height: 15rem; }
  .grid-promocion3::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2); }

.grid-boton {
  position: relative;
  border: 3px solid #010103;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  color: #fff;
  background: #00c9bd;
  cursor: pointer;
  margin-top: 1rem;
  width: 120px;
  border: 3px solid #00c9bd;
  border-radius: 3rem; }
  .grid-boton:hover {
    background: #00c9bd;
    color: #000;
    border: 3px solid #000; }

@media (min-width: 800px) {
  .main-3 {
    padding: 4rem 4rem; }
  .seccion-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "promo1 promo1" "promo2 promo3";
    gap: 3rem; }
    .seccion-grid .grid-promocion1 {
      grid-area: promo1;
      height: 400px;
      padding: 4rem; }
    .seccion-grid .grid-promocion2 {
      grid-area: promo2;
      height: 20rem;
      padding: 2rem; }
    .seccion-grid .grid-promocion3 {
      grid-area: promo3;
      height: 20rem;
      padding: 2rem; }
    .seccion-grid .grid-promocion {
      font-size: 45px;
      text-align: center;
      color: #fc5406; }
      .seccion-grid .grid-promocion h2 {
        font-size: 2.5rem;
        color: #d99a07; }
      .seccion-grid .grid-promocion h3 {
        font-size: 2rem;
        color: #fff; } }

@media (max-width: 900px) {
  .seccion-promocion-1 {
    display: block; }
    .seccion-promocion-1 h1 {
      font-size: 1.7rem;
      width: 100%;
      margin-bottom: 20px; }
    .seccion-promocion-1 p {
      font-size: 1rem;
      width: 100%;
      text-align: center;
      padding: 15px; }
      .seccion-promocion-1 p span {
        font-size: 1rem; }
      .seccion-promocion-1 p a {
        font-size: 1rem; } }

/* --- DESCUENTOS --- */
.main-4 {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1.5em;
  background-color: #000;
  border-top: 3px solid #00c9bd;
  border-bottom: 3px solid #00c9bd; }
  .main-4 h1 {
    color: #00c9bd;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #000;
    display: block; }

.seccion-descuentos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 20px; }

.descuentos {
  display: flex;
  width: 45%;
  height: 10%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 9px;
  border: solid #00c9bd;
  background: #0b132b;
  padding-top: 50px;
  padding-bottom: 40px;
  flex: 1; }

.descuento-imagen {
  width: 85%;
  height: 300px;
  transition: 1s;
  opacity: 0.8; }

.descuento-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  margin-top: 20px; }
  .descuento-descripcion h2 {
    color: #00c9bd;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold; }
  .descuento-descripcion p {
    font-size: 1.3rem;
    color: #fff; }
  .descuento-descripcion .descuento-boton {
    background: #010103;
    color: #fff;
    border: 3px solid #00c9bd;
    padding: 0.2rem 1rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 3rem;
    margin-top: 25px; }

.descuento-boton:hover {
  color: #000;
  background: #00c9bd;
  transition: 0.5s; }

@media (max-width: 950px) {
  .seccion-descuentos {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 425px) {
  .main-4 h1 {
    font-size: 2rem; }
  .descuento-imagen img {
    width: 100%;
    height: 200px; }
  .seccion-descuentos {
    display: block; }
  .descuentos {
    width: 100%;
    margin-bottom: 15px; } }

/* --- SUCURSALES --- */
.main-5 {
  background-color: #000;
  width: 100%;
  display: block; }

.seccion-sucursales-1 {
  position: relative;
  background-image: url(../img/banco.jpg);
  height: 525px;
  background-size: cover;
  background-position: center;
  display: flex; }

.seccion-sucursales-2 {
  display: block;
  max-width: 100%; }
  .seccion-sucursales-2 .centrado-general {
    margin: auto; }
  .seccion-sucursales-2 h1 {
    color: #00c9bd; }

.mapa {
  padding: 0; }
  .mapa iframe {
    width: 95%;
    height: 500px;
    border: 5px solid #00c9bd; }

.sucursales {
  padding: 0; }
  .sucursales h2 {
    color: #00c9bd; }
  .sucursales h4 {
    color: #00c9bd; }
  .sucursales label {
    color: #fff; }

.boton-buscar {
  background-color: #00c9bd;
  text-align: center;
  border: none;
  border-radius: 15px;
  cursor: pointer; }
  .boton-buscar:hover {
    color: #fff;
    background: #2c3e50;
    border: 3px solid #00c9bd; }

.seleccion select {
  border: 2px solid #00c9bd;
  background: #2c3e50;
  color: #fff; }
  .seleccion select option {
    color: #fff; }

.centrado {
  margin: auto; }
  .centrado input {
    border: 2px solid #00c9bd; }
    .centrado input:checked {
      background-color: #0b132b;
      border: 2px solid #00c9bd; }

.ubicacion input {
  border: 2px solid #00c9bd; }
  .ubicacion input:checked {
    background-color: #0b132b;
    border: 2px solid #00c9bd; }

@media (max-width: 767px) {
  .boton-buscar {
    margin-bottom: 25px; } }
